* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/*  
body { 
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
 } */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cab19a;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  font-size: 3rem;
  color: #473323;
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  background-color: #dac8b8;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 8rem;
  align-items: center;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
  background-color: #ffffff;
}
/* .grid--4-cols { 
  grid-template-columns: repeat(4, 1fr);
 } */
/* .grid--5-cols { 
  grid-template-columns: repeat(5, 1fr);
 } */
.nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.nav-links:link,
.nav-links:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}
.nav-links:hover,
.nav-links:active {
  color: #b96d29;
}
/* .nav-links.listing-part:link, 
.nav-links.listing-part:visited {
  padding: 0.3rem 1rem;
  border-radius: 3px;
  color: #ffffff;
  background-color: #c58c5a;
}
.nav-links.listing-part:hover,
.nav-links.listing-part:active {
  background-color: #b96d29;
/} */

.section-hero {
  background-color: #cab19a;
  padding: 4.8rem 0 9.6rem 0;
  padding-left: 0.4rem;
}

.hero {
  max-width: 200rem;
  padding: 3.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}
.heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  color: #795638;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 3rem;
  background-color: #dac8b8;
}
.heading-tertiary {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 2.8rem;
  background-color: #dac8b8;
}
.description {
  font-size: 2.4rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}
.him-description {
  font-size: 2.4rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
  padding-right: 2rem;
  background-color: #dac8b8;
}
.donate-description {
  font-size: 2.4rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
  padding-right: 2rem;
}
.hero-img {
  width: 100%;
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 0.6rem 2rem;
  border-radius: 6px;
}
.btn--full:link,
.btn--full:visited {
  background-color: #835b39;
  color: #fffefe;
}
.btn--full:hover,
.btn-full:active {
  background-color: #b17e51;
}
/* .btn-mobile-nav { 
}
.icon-mobile-nav {
 /* }  */
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #ffffff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #e6e6e6;
}
.section-about {
  padding: 9.6rem 0;
  background-color: #dac8b8;
}
.both-image {
  width: 80%;
}
.image-apparel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories {
  padding: 9.6rem 0;
  background-color: #dac8b8;
}
.Male-model {
  width: 100%;
}
.Female-model {
  width: 100%;
}
.hands {
  width: 100%;
  padding-bottom: 2rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.8rem;
  margin-bottom: 2.6rem;
}
.details {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  color: #57504a;
}
.clothing-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.cols {
  box-shadow: 0 2.4rem 4.8rem rgb(244, 239, 234);
  border-radius: 15px;
  overflow: hidden;
  padding: 4.8rem;
}
/* FOOTER */
.footer {
  padding: 5rem 0;
  background-color: #dac8b8;
  border-top: 1px solid rgb(131, 127, 127);
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.2rem;
  padding-left: 4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #777;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #555;
}
/* SOCIAL LINKS */
.social-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding-left: 4rem;
}
